---
import Layout from "../../layouts/Layout.astro";
import QuoteHero from "../../components/quotes/QuoteHero.astro";
import QuoteGenerator from "../../components/quotes/QuoteGenerator.astro";
import QuoteLibrary from "../../components/quotes/QuoteLibrary.astro";
import QuoteWorkspace from "../../components/quotes/QuoteWorkspace.astro";
import QuoteExports from "../../components/quotes/QuoteExports.astro";
import "./stores";
---
<Layout>
  <a
    class="sr-only focus:not-sr-only focus:absolute focus:left-4 focus:top-4 focus:rounded-md focus:bg-white focus:px-4 focus:py-2 focus:text-sm focus:font-semibold focus:text-slate-900 focus:outline-none focus:ring-2 focus:ring-emerald-500"
    href="#quote-workspace"
  >
    Skip to Quote Forge workspace
  </a>
  <main class="min-h-screen bg-slate-950 text-white">
    <QuoteHero />
    <QuoteGenerator />
    <QuoteLibrary />
    <QuoteWorkspace />
    <QuoteExports />
  </main>
</Layout>
