---
import Layout from "../../layouts/Layout.astro";
import Loader from "../../components/Loader.astro";
import ResearchHero from "./components/ResearchHero.astro";
import ResearchObjectives from "./components/ResearchObjectives.astro";
import ResearchWorkspaces from "./components/ResearchWorkspaces.astro";
import ResearchUserStories from "./components/ResearchUserStories.astro";
import ResearchArchitecture from "./components/ResearchArchitecture.astro";
import ResearchQuality from "./components/ResearchQuality.astro";
import ResearchIntegrations from "./components/ResearchIntegrations.astro";
import ResearchIntegrity from "./components/ResearchIntegrity.astro";
import ResearchRoadmap from "./components/ResearchRoadmap.astro";
---
<Layout title="Research Assistant">
  <Loader />
  <a
    class="sr-only focus:not-sr-only focus:absolute focus:left-4 focus:top-4 focus:rounded-md focus:bg-white focus:px-4 focus:py-2 focus:text-sm focus:font-semibold focus:text-slate-900 focus:outline-none focus:ring-2 focus:ring-indigo-500"
    href="#research-workspaces"
  >
    Skip to Research Assistant workspace overview
  </a>
  <main class="bg-white">
    <ResearchHero />
    <ResearchObjectives />
    <ResearchWorkspaces />
    <ResearchUserStories />
    <ResearchArchitecture />
    <ResearchQuality />
    <ResearchIntegrations />
    <ResearchIntegrity />
    <ResearchRoadmap />
  </main>
</Layout>
