---
import Layout from '../../layouts/Layout.astro';
import EmojiHero from './components/EmojiHero.astro';
import EmojiModes from './components/EmojiModes.astro';
import EmojiHints from './components/EmojiHints.astro';
import EmojiDaily from './components/EmojiDaily.astro';
import EmojiPacks from './components/EmojiPacks.astro';
import EmojiStats from './components/EmojiStats.astro';
import EmojiPlan from './components/EmojiPlan.astro';
---
<Layout>
  <a
    class="sr-only focus:not-sr-only focus:absolute focus:left-4 focus:top-4 focus:rounded-md focus:bg-white focus:px-4 focus:py-2 focus:text-sm focus:font-semibold focus:text-slate-900 focus:outline-none focus:ring-2 focus:ring-fuchsia-500"
    href="#guess-the-emoji"
  >
    Skip to Guess the Emoji content
  </a>
  <main
    id="guess-the-emoji"
    class="min-h-screen bg-white"
    x-data="() => ({ emoji: $store.guessTheEmoji })"
    x-init="emoji.init()"
  >
    <EmojiHero />
    <EmojiModes />
    <EmojiHints />
    <EmojiDaily />
    <EmojiPacks />
    <EmojiStats />
    <EmojiPlan />
  </main>
</Layout>
