---
import '../styles/global.css'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Ansiversa — Advanced Next‑Gen Software Innovation</title>
		<meta name="description" content="Ansiversa builds versatile, next‑gen software products and platforms." />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon_16x16.png">
		 <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon_32x32.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/favicon/favicon_64x64.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/favicon_180x180.png">
		<link rel="icon" type="image/png" sizes="128x128" href="/favicon/favicon_128x128.png">
		<link rel="icon" href="/favicon/favicon.ico">
	</head>
	<body class="antialiased bg-white text-slate-900">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
